/* VARIABLES CSS */
:root {
    --couleur-primaire: #F5A623;
    --couleur-secondaire: #1A1A2E;
    --couleur-texte: #333333;
    --couleur-fond: #FFFFFF;
    --couleur-accent:#16213E;
    --police-titre: 'Poppins', sans-serif;
    --police-corps: 'Open Sans', sans-serif;
    --espacement: 20px;

}

/* RESET ET BASE  */
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    font-family: var(--police-corps);
    color: var(--couleur-texte);
    background-color: var(--couleur-fond);
}

/* TYPOGRAPHIE */
h1, h2, h3, h4, h5 {
    font-family: var(--police-titre);
    color: var(--couleur-secondaire);
}

h1{ font-size: 3rem; }
h2{ font-size: 2rem; }
h3{ font-size: 1.5rem; }

/* NAVBAR */
nav{
    background-color: var(--couleur-secondaire) ;
}

.navbar-brand img {
    height: 50px;
}

/* FOOTER */
footer {
    background-color: var(--couleur-secondaire);
    color: white;
    padding: 40px 0;
    margin-top: 50px;
}

footer h5 {
    color: var(--couleur-primaire);
    margin-bottom: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 8px;
}
